* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 80px;
    background: linear-gradient(rgba(0,0,0, 0.34), rgba(0, 0, 0, 0.78)), url(imagens/tecnologia22.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

header, h2 {
    text-align: left;
    justify-content: left;
    justify-self: left;
    
}

.esquerda, p {
    font-size: 1.2em;
    text-align: left;
    justify-content: left;
    justify-self: left;
    margin-left: -20px;
    margin-top: 32px;
}

#icons {
    text-align: left;
    justify-content: left;
    justify-self: left;
    margin-top: 25px;
    margin-left: 150px;
}

#icons, .devicon-html5-plain-wordmark {
    
    font-size: 2.5em;
}

#icons, .devicon-css3-plain-wordmark {
    
    font-size: 2.5em;
}

#icons, .devicon-javascript-plain {
    font-size: 2.3em;
}

#icons-back {
    text-align: left;
    justify-content: left;
    justify-self: left;
    margin-top: 25px;
    margin-left: 210px;
}

.devicon-python-plain-wordmark {
    font-size: 4.8em;
}

.devicon-mysql-plain-wordmark {
    font-size: 4.8em;
}


.direita, img {
    text-align: right;
    justify-content: right;
    justify-self: right;
    height: 300px;
    margin-top: -180px;
    margin-right: -20px;
}


body {
    background-color: black;
}


#Python{
    color: white;
    margin-top: -120px;
    margin-left: 210px;
    font-size: 1.8em;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

.Inicio-de-python {
    font-size: 2.7em;
    margin-left: 170px;
}

.devicon-python-plain {
    padding-bottom: -90px;
    margin-left: 250px;
    font-size: 4em;
}

.paragrafo1 {
    font-size: 1em;
    margin-left: -200px;
}

.Titulo-do-projeto {
    text-align: center;
    justify-content: center;
    justify-self: center;
    margin-top: 50px;
    margin-left: -200px;
}


#codigo-python {
    height: 1190px;
    margin-left: -160px;
}

pre {
    margin-left: -107px;
    width: 900px;
    height: 200px;
}

code {
    font-size: 0.7em;
}

video {
    margin-top: 40px;
}

.Video2 {
    margin-top: -370px;
}

#MySQL {
    color: white;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

#segudoicone {
    font-size: 22em;
    margin-left: 340px;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

.paragrafoSQL {
    margin-top: -40px;
    margin-left: 10px;
    font-size: 1.8em;
}

.paragrafoSQL1 {
    margin-left: 10px;
    font-size: 1.8em;
}


.Titulo-do-Mysql {
    text-align: center;
    justify-content: center;
    justify-self: center;
    margin-top: 90px;
    font-size: 3em;
}


#codigo-SQL {
    font-size: 1.8em;
    margin-left: 100px;
}

.Conhecimento-profissional {
    margin-left: 220px;
    margin-top: 1490px;
    font-size: 2em;
}

#codigo-SQL1 {
    font-size: 1.4em;
    margin-left: 50px;

}

.Loja-de-calçados {
    margin-left: 290px;
    margin-top: 4330px;
    font-size: 2em;
    
}


.links {
    color: aqua;
    transition: color 0.5s ease;
}

.links:hover {
    color: yellow;
}

.paragrafolink {
    margin-left: 45px;
}

#htmlecss {
    color: white;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

#html {
    margin-top: 1864px;
    margin-left: 340px;
    font-size: 3em;
}

#css {
    margin-left: 480px;
    font-size: 3em;
    margin-top: -122px;
}

.paragrafoweb {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 1.8em;
}

.Video {
    margin-left: 200px;
}

.linkfoweb {
    font-size: 2em;
    margin-left: 220px;
    margin-top: -5px;
}