* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 80px;
    background: linear-gradient(rgba(0,0,0, 0.34), rgba(0, 0, 0, 0.78)), url(imagens/tecnologia22.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

header, h2 {
    text-align: left;
    justify-content: left;
    justify-self: left;
    
}

.esquerda, p {
    font-size: 1.2em;
    text-align: left;
    justify-content: left;
    justify-self: left;
    margin-left: -20px;
    margin-top: 32px;
}

#icons {
    text-align: left;
    justify-content: left;
    justify-self: left;
    margin-top: 25px;
    margin-left: 150px;
}

#icons, .devicon-html5-plain-wordmark {
    
    font-size: 2.5em;
}

#icons, .devicon-css3-plain-wordmark {
    
    font-size: 2.5em;
}

#icons, .devicon-javascript-plain {
    font-size: 2.3em;
}

#icons-back {
    text-align: left;
    justify-content: left;
    justify-self: left;
    margin-top: 25px;
    margin-left: 210px;
}

.devicon-python-plain-wordmark {
    font-size: 4.8em;
}

.devicon-mysql-plain-wordmark {
    font-size: 4.8em;
}


.direita, img {
    text-align: right;
    justify-content: right;
    justify-self: right;
    height: 300px;
    margin-top: -180px;
    margin-right: -20px;
}


body {
    background-color: black;
}


#Python{
    color: white;
    margin-top: -120px;
    margin-left: 210px;
    font-size: 1.8em;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

.Inicio-de-python {
    font-size: 2.7em;
    margin-left: 170px;
}

.devicon-python-plain {
    padding-bottom: -90px;
    margin-left: 250px;
    font-size: 4em;
}

.paragrafo1 {
    font-size: 1em;
    margin-left: -200px;
}

.Titulo-do-projeto {
    text-align: center;
    justify-content: center;
    justify-self: center;
    margin-top: 50px;
    margin-left: -200px;
}


#codigo-python {
    height: 1190px;
    margin-left: -160px;
}

pre {
    margin-left: -107px;
    width: 900px;
    height: 200px;
}

code {
    font-size: 0.7em;
}

video {
    margin-top: 40px;
}

.Video2 {
    margin-top: -370px;
}

#MySQL {
    color: white;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

#segudoicone {
    font-size: 22em;
    margin-left: 340px;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

.paragrafoSQL {
    margin-top: -40px;
    margin-left: 10px;
    font-size: 1.8em;
}

.paragrafoSQL1 {
    margin-left: 10px;
    font-size: 1.8em;
}


.Titulo-do-Mysql {
    text-align: center;
    justify-content: center;
    justify-self: center;
    margin-top: 90px;
    font-size: 3em;
}


#codigo-SQL {
    font-size: 1.8em;
    margin-left: 100px;
}

.Conhecimento-profissional {
    margin-left: 220px;
    margin-top: 1490px;
    font-size: 2em;
}

#codigo-SQL1 {
    font-size: 1.4em;
    margin-left: 50px;

}

.Loja-de-calçados {
    margin-left: 290px;
    margin-top: 4330px;
    font-size: 2em;
    
}


.links {
    color: aqua;
    transition: color 0.5s ease;
}

.links:hover {
    color: yellow;
}

.paragrafolink {
    margin-left: 45px;
}

#htmlecss {
    color: white;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

#html {
    margin-top: 1864px;
    margin-left: 340px;
    font-size: 3em;
}

#css {
    margin-left: 480px;
    font-size: 3em;
    margin-top: -122px;
}

.paragrafoweb {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 1.8em;
}

.Video {
    margin-left: 200px;
}

.linkfoweb {
    font-size: 2em;
    margin-left: 220px;
    margin-top: -5px;
}

#hcj {
    color: white;
    text-shadow: 5px 3px 1px rgb(9, 3, 56);
}

#html1 {
    margin-top: 104px;
    margin-left: 250px;
    font-size: 3.6em;
}

#css1 {
    margin-left: 440px;
    font-size: 3.6em;
    margin-top: -148px;
}

#js1 {
    margin-left: 650px;
    font-size: 3em;
    margin-top: -120px;
}

#html11 {
    color: white;
    text-decoration: none;
}

#css11 {
    color: white;
    text-decoration: none;
}

#javascript11 {
    color: white;
    text-decoration: none;
}

#python11 {
    color: white;
    text-decoration: none;
}

#myslq11 {
    color: white;
    text-decoration: none;
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: white;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

#data {
    margin: 1px;
    margin-bottom: -30px;
}

#inst {
    color: white;
}

#git {
    color: white;
}

#linkdin {
    color: white;
}

#df-tela {
    margin-left: 135px;
}

.nomepeq {
    display: none;
}

.sobreno {
    display: none;
}

@media (min-width: 11in) and (max-width: 13in) {
    h2 {
        margin-left: 40px;
    }

    .nomepeq {
        display: none;
    }

    .sobreno {
        display: none;
    }

    .esquerda, p {
        font-size: 1.2em;
        text-align: left;
        justify-content: left;
        justify-self: left;
        margin-left: -20px;
        margin-top: 32px;
    }
    
    #icons {
        text-align: left;
        justify-content: left;
        justify-self: left;
        margin-top: 25px;
        margin-left: 150px;
    }
    
    #icons, .devicon-html5-plain-wordmark {
        
        font-size: 2.5em;
    }
    
    #icons, .devicon-css3-plain-wordmark {
        
        font-size: 2.5em;
    }
    
    #icons, .devicon-javascript-plain {
        font-size: 2.3em;
    }
    
    #icons-back {
        text-align: left;
        justify-content: left;
        justify-self: left;
        margin-top: 25px;
        margin-left: 210px;
    }
    
    .devicon-python-plain-wordmark {
        font-size: 4.8em;
    }
    
    .devicon-mysql-plain-wordmark {
        font-size: 4.8em;
    }

    .direita, img {
        text-align: right;
        justify-content: right;
        justify-self: right;
        height: 400px;
        margin-top: -180px;
        margin-left: 100px;
    }

    .Inicio-de-python {
        margin-left: 300px;
    }

    .devicon-python-plain {
        margin-left: 370px;
    }
}



@media  (min-width: 14in) and (max-width: 15in) {
    h2 {
        margin-left: 60px;
    }

    .nomepeq {
        display: none;
    }

    .sobreno {
        display: none;
    }

    .esquerda, p {
        font-size: 1.3em;
        text-align: left;
        justify-content: left;
        justify-self: left;
        margin-left: -10px;
        margin-top: 32px;
    }
    
    #icons {
        text-align: left;
        justify-content: left;
        justify-self: left;
        margin-top: 25px;
        margin-left: 200px;
        font-size: 2.8em;
    }
    
    #icons, .devicon-html5-plain-wordmark {
        
        font-size: 2.5em;
    }
    
    #icons, .devicon-css3-plain-wordmark {
        
        font-size: 2.5em;
    }
    
    #icons, .devicon-javascript-plain {
        font-size: 2.3em;
    }
    
    #icons-back {
        text-align: left;
        justify-content: left;
        justify-self: left;
        margin-top: 25px;
        margin-left: 260px;
    }
    
    .devicon-python-plain-wordmark {
        font-size: 6em;
    }
    
    .devicon-mysql-plain-wordmark {
        font-size: 6em;
    }

    .direita, img {
        text-align: right;
        justify-content: right;
        justify-self: right;
        height: 400px;
        margin-top: -180px;
        margin-right: 30px;
    }

    .Inicio-de-python {
        margin-left: 350px;
    }

    .devicon-python-plain {
        margin-left: 430px;
    }

    video {
        margin-top: 40px;
        margin-left: 135px;
    }
    
    .Video2 {
        margin-top: -370px;
    }

    .paragrafolink {
        margin-left: 180px;
    }

    #df-tela {
        margin-left: 260px;
    }

    .Titulo-do-Mysql {
        margin-left: 50px;
    }

    #segudoicone {
        padding-left: 170px;
    }

    .Conhecimento-profissional {
        margin-left: 380px;
    }

    .Loja-de-calçados {
        margin-left: 450px;
    }

    .dif-sql {
        padding-bottom: 90px;
    }

    #html {
        padding: 10px;
        margin-bottom: -170px;
        margin-left: 530px;
        
    }

    #css {
        margin-top: 35px;
        margin-left: 680px;
        margin-bottom: 135px;
        
    }

    .linkfoweb {
        padding-left: 140px;
    }


    #html1 {
        margin-left: 400px;
    }

    #css1 {
        margin-left: 640px;
    }
    
    #js1 {
        margin-left: 900px;
    }

}


@media (max-width: 600px) {
    
    header {
        background: linear-gradient(rgba(0,0,0, 0.34), rgba(0, 0, 0, 0.78));
    }
    
    header h2 {
        display: none;
    }

    .nomepeq {
        text-align: center;
        margin-bottom: 90px;
        margin-left: 50px;
        font-size: 2em;
        display: block;
    }

    .sobreno {
        display: block;
        margin-top: -90px;
        margin-left: 90px;
        font-size: 2em;
    }

    .esquerda p {
        display: none;
    }

    .direita, img {
        text-align: right;
        height: 300px;
        margin-top: 16px; /* Ajuste esse valor conforme necessário */
        margin-right: 50px;
    }

    #icons {
        display: none;
    }

    #icons-back {
        display: none;
    }
    
}